@media (max-width: 1480px) {
    .preview__card-body::after {
        bottom: 4px;
    }
}

@media (max-width: 1400px) {
    .header__logo {
        display: none;
    }

    .center-logo {
        display: block;
    }
}

@media (max-width: 1250px) {
    .product__photos {
        max-width: 600px;
    }
}

@media (max-width: 1000px) {
    .product__photos {
        max-width: 450px;
    }
}

@media (max-width: 900px) {
    .header {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }

    .center-logo img {
        max-width: 71px;
    }

    .header__body {
        padding: 14px 0;
    }

    .header__left {
        display: none;
    }

    .header__right-desc {
        display: none;
    }

    .header-burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .search__spoiler-field {
        margin: 0 0 24px 0;
    }

    .catalog {
        padding: 76px 0 120px;
    }

    .row__card {
        flex: 0 1 50%;
    }
    .row__card:hover .row__card-inner {
        border: none;
    }
    .product-sizes {
        display: none;
    }
    .breadcrumbs {
        margin: 70px 0 0 0 !important;
    }
}

@media (max-width: 800px) {
    .product__name {
        display: none;
    }

    .mobile-card-name {
        display: block;
        margin: 32px 0 0 0;
    }

    .search__input {
        font-size: 16px;
    }

    .product__photos {
        max-width: none;
    }

    .simple__photos {
        display: none;
    }

    .mobile-live-photos, .mobile-live-photos .simple__photos {
        display: block;
    }

    .mobile-live-photos .simple__photos {
    }

    .mobile-live-photos .simple__photos img {

    }

    .product__body {
        flex-direction: column;
    }

    .product__slider-body {
        padding: 0 0 16px 0;
    }

    .product__info {
        max-width: none;
    }

    .mobile-live-photos {
        margin: 120px 0 0 0;
    }

    .product__slider .swiper-pagination-bullet {
        opacity: 0.16;
        background: #1C242E;
    }

    .product__slider .swiper-pagination-bullet-active {
        opacity: 1;
    }

    .product__slider .swiper-pagination-bullets {
        bottom: -10px;
    }
    .preview__card-about {
        left: 20px;
        bottom: 40px;
    }
    .product__slider .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 600px) {
    .catalog__filter {
        display: none;
    }
    .catalog__body {
        padding: 48px 0 0 0;
        border-top: 1px solid #D8DBDE;
    }
    .catalog__slider {
        margin: 60px 0 0 0;
    }
    .mobile__filter-btn {
        display: block;
    }
    .preview__catalog-note {
        font-size: 20px;
    }
    .preview__card-body {
        max-width: 100%;
    }
    .preview__card-category {
        font-size: 20px;
    }
    .sort + .param__name::before {
        background-image: url(../img/icons/radio-button.svg);
        background-size: 18px 18px;
    }
    .sort + .param__name:hover::before {
        border: none;
        background-image: url(../img/icons/radio-button-hover.svg);
        background-size: 18px 18px;
    }
    .sort:checked + .param__name::before {
        border: none;
        background-image: url(../img/icons/radio-button-click.svg);
        background-size: 18px 18px;
    }
    .filter__data-param:hover {
        background: none;
    }
    .product__footer-title {
        margin: 0 0 32px 0;
        font-size: 20px;
        letter-spacing: 0.1px;
    }
    .product__footer-filter {
         padding: 0;
    }
}

@media (max-width: 500px) {


    .menumobile-wrap {
        max-width: 100%;
    }

    .row__card {
        flex: 1 1 100%;
    }

    .other__shape {
        display: none;
    }
}

@media (max-width: 425px) {
    .preview__catalog-link {
        display: none;
    }
    .product__slider .swiper-pagination-bullet {
        width: 30px;
    }

    .mobile-card-name {
        font-size: 20px;
        letter-spacing: 0.1px;
    }

    .product__price {
        font-size: 16px;
    }
}


@media (max-width: 375px) {

    .catalog__title {
        font-size: 24px;
        letter-spacing: 0.12px;
    }

    .catalog__slider {
        margin: 32px 0 0 0;
        height: 300px;
    }
}
