@font-face {
    font-family: "CocoGothic-Bold";
    src: local("CocoGothic-Bold"),
    url("../fonts/CocoGothic-Bold.woff2") format("woff2"),
    url("/src/fonts/CocoGothic-Bold.woff") format("woff"),
    url("/src/fonts/CocoGothic-Bold.eot") format("eot"),
    url("/src/fonts/CocoGothic-Bold.eot") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "CocoGothic-Regular";
    src: local("CocoGothic-Regular"),
    url("../fonts/CocoGothic-Regular.woff2") format("woff2"),
    url("../fonts/CocoGothic-Regular.woff") format("woff"),
    url("../fonts/CocoGothic-Regular.eot") format("eot"),
    url("../fonts/CocoGothic-Regular.eot") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Colus-Regular";
    src: local("Colus-Regular"),
    url("../fonts/Colus-Regular.woff2") format("woff2"),
    url("../fonts/Colus-Regular.woff") format("woff"),
    url("../fonts/Colus-Regular.eot") format("eot"),
    url("../fonts/Colus-Regular.eot") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.eot") format("eot"),
    url("../fonts/Roboto-Regular.eot") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: local("RobotoMono-Regular"),
    url("../fonts/RobotoMono-Regular.woff2") format("woff2"),
    url("../fonts/RobotoMono-Regular.woff") format("woff"),
    url("../fonts/RobotoMono-Regular.eot") format("eot"),
    url("../fonts/RobotoMono-Regular.eot") format("ttf");
    font-weight: normal;
}


* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
    text-decoration: none;
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
}

button {
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

legend {
    display: block;
}

img, svg {
    max-width: 100%;
    height: auto;
}

body {
    position: relative;
    z-index: 3;

}

body.modal-open {
    height: 100vh;
    overflow: hidden;
    /*padding-right: 15px;*/
}


/*========================================================*/

:root {
    --font-coco-gothic-bold: 'CocoGothic-Bold', sans-serif;
    --font-coco-gothic: 'CocoGothic-Regular', sans-serif;
    --font-colus: 'Colus-Regular', sans-serif;
    --font-roboto-mono: 'RobotoMono-Regular', sans-serif;
    --font-roboto: 'Roboto-Regular', sans-serif;
}

.container {
    position: relative;
    max-width: 1470px;
    padding: 0 15px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: flex;
    padding: 14px 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    transition: .3s;
}

.primary-btn {
    background: #1C242E;
    color: #FFF;
}

.primary-btn:hover {
    background: #363D47;
}

.secondary-btn {
    background: #F5F6F6;
    color: #363D47;
}

.secondary-btn:hover {
    background: #ECEDEE;
}

.txt-24 {

}

/*==============================HEADER====================*/
.header {
    max-height: 116px;
    position: relative;
    z-index: 5;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.header__left {
    display: flex;
    gap: 33px;
    align-items: center;
}

.header__link {
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.header__link:hover {
    color: #292e32;
}

.header__logo {
    margin: 0 265px 0 0;
}

.header__right {

}

.header__right-desc {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header__btn {
    width: 220px;
}

.center-logo {
    display: none;
}

.header-burger {
    display: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.header-burger span:nth-child(1) {
    top: 6px;
}

.header-burger span:nth-child(2) {
    top: 12px;
}

.header-burger span:nth-child(2) {
    width: calc(100% - 9px);
}

.header-burger span:nth-child(3) {
    top: 18px;
}

.header-burger span {
    width: calc(100% - 6px);
    height: 2px;
    background-color: #212529;
    display: block;
    position: absolute;
    left: calc(50% - 9px);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.menumobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    display: none;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.menumobile-wrap {
    background-color: #fff;
    height: 100%;
    max-width: 400px;
    padding: 60px 15px 0 15px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.menumobile-main {
    padding: 48px 40px;
}

.menumobile-link {
    display: block;
    font-size: 24px;
    line-height: 134%;
    -webkit-font-feature-settings: "salt" on;
    font-feature-settings: "salt" on;
    color: #4f5761;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

.menumobile-link:not(:last-child) {
    margin: 0 0 32px;
}

.menumobile-wrap.visible {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menumobile.show {
    display: block;
}

.menumobile.visible {
    opacity: 1;
}

.menumobile-bottom {
    padding: 40px 0;
    border-top: 1px solid #d8dbde;
}

.menumobile-bottom_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: var(--font-coco-gothic);
}

.menumobile-bottom_item:nth-child(1), .menumobile-bottom_item:nth-child(2) {
    width: calc(50% - 16px);
}

.menumobile-bottom_item:not(:last-child) {
    margin: 0 16px 40px 0;
}

.menumobile-bottom_item {
    width: calc(100% - 16px);
}

.menumobile-bottom_title {
    font-size: 16px;
    line-height: 134%;
    margin: 0 0 4px;
    -webkit-font-feature-settings: "salt" on;
    font-feature-settings: "salt" on;
    color: #949ca6;
}

.menumobile-bottom_value {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    -webkit-font-feature-settings: "salt" on;
    font-feature-settings: "salt" on;
    color: #363d47;
}

.menumobile-bottom_head {
    margin: 0 0 32px 0;
}

.menumobile-bottom_head h5 {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.1px;
    margin: 0 0 24px 0;
}


/*=============================/HEADER====================*/

/*SPOILER*/


.search__spoiler {
    position: absolute;
    top: -400%;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: top .3s linear;
    background-color: #FFFFFF;
}

.search__spoiler-field {
    margin: 160px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid #80828C;
}

.show__spoiler {
    top: 0;
    z-index: 2;
}

.search__input {
    width: 100%;
    background: #FFF;
    padding: 14px 0;
}

.search__input-clean {
    cursor: pointer;
    padding: 5px;
}

.search__input::placeholder {
    color: #B5BAC1;
}

/*/SPOILER*/

/*NOT FOUND*/

.not__found {
    display: none;
    margin: 0 auto;
    max-width: 464px;
}

.not__found-img {
    text-align: center;
    pointer-events: none;
}

.not__found-text {
    color: #363D47;
    text-align: center;
    /* Paragraph 18 */
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin: 24px 0;
}

.not__found-btn {
    margin: 0 auto;
    max-width: 169px;
}

/*/NOT FOUND*/

/*==============================MAIN====================*/

.section__main {
    margin: -116px 0 0 0;
    position: relative;
}

.section__main::before {
    content: '';
    position: absolute;
    background-image: url("../img/main/monkeys.jpg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main__body {
    padding: 216px 0 1060px;
}

.main__title {
    margin: 0 auto 24px;
    color: #1C242E;
    text-align: center;
    font-family: var(--font-colus);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    max-width: 1074px;
    text-transform: uppercase;
}

.main__text {
    margin: 0 auto 40px;
    text-align: center;
    max-width: 875px;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

.main__buttons {
    margin: 0 auto;
    max-width: 462px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main__link:nth-child(1) {
    width: 242px;
}

.main__link:nth-child(2) {
    width: 204px;
}

/*=============================/MAIN====================*/

/*====================PREVIEW-CATALOG====================*/

.preview__catalog {
    padding: 121px 0 180px;
}

.preview__catalog-body {

}

.preview__catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    margin: 0 0 40px 0;
}

.preview__catalog-note {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.16px;
}

.preview__catalog-link {
    display: inline-block;
    position: relative;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    padding: 0 19px 0 0;
}

.preview__catalog-link::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.preview__catalog-link:hover {
    color: #292e32;
}

.preview__catalog-tilings {

}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 0 80px 0;
}

.preview__card-body {
    position: relative;
    max-height: 710px;
}

.preview__card-body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(28, 36, 46, 0.00) 0%, rgba(28, 36, 46, 0.50) 100%);
}

.preview__card-about {
    position: absolute;
    left: 60px;
    bottom: 40px;
    z-index: 1;
}

.preview__card-category {
    color: #FFF;
    font-family: var(--font-colus);
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.preview__card-count {
    color: #FFF;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px; /* 133.333% */
}

.preview__card-count span {
    margin: 0 4px;
}

.preview__card-bg {
    position: relative;
}

.preview__card-bg {
    position: relative;
}

.preview__catalog-btn {
    max-width: 465px;
    margin: 0 auto;
}

/*===================/PREVIEW-CATALOG====================*/

/*=======================STORY-SLIDER====================*/

.section__slider {
    padding: 0 0 180px 0;
}

.story__slider-title {
    max-width: 952px;
    margin: 0 auto 40px;
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.16px;
}

.story__slider-body {
    margin: 0 0 47px 0;
}

.story-slider {
    display: grid;
    margin: 20px auto;
}

.slide-items {
    grid-area: 1/1;
    overflow: hidden;
    position: relative;
}

.slide-items > * {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.slide-items .active {
    opacity: 1;
    pointer-events: initial;
    position: relative;
}

.slide-nav {
    display: grid;
    grid-area: 1/1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    z-index: 1;
}

.slide-thumbs {
    display: flex;
    grid-column: 1 / 3;
    padding: 40px;
}

.slide-thumb-item {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: block;
    flex: 1;
    height: 3px;
    margin: 2px;
    overflow: hidden;
}

.slide-thumb-item.active::after {
    animation: thumb 5s forwards linear;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    content: '';
    display: block;
    height: inherit;
    transform: translateX(-100%);
}

.slide-next,
.slide-prev {
    opacity: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

.story__slider-text {
    max-width: 708px;
    margin: 0 0 0 35%;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px; /* 133.333% */
}

.story__slider-text p:not(:last-child) {
    margin: 0 0 32px 0;
}

/*======================/STORY-SLIDER====================*/

/*==========================MAIN-FORM====================*/


/*=========================/MAIN-FORM====================*/


/*==========================CATALOG====================*/

.catalog {
    padding: 32px 0 180px;
}

.catalog__breadcrumbs {
    text-align: center;
}

.catalog__breadcrumbs, .catalog__breadcrumbs a {
    color: #949CA6;
    font-feature-settings: 'salt' on;
    font-family: var(--font-coco-gothic);
    font-size: 14px;
    line-height: 20px; /* 142.857% */
}

.breadcrumbs__separator {
    padding: 0 5px;
}

.catalog__title {
    color: #1C242E;
    text-align: center;
    font-family: var(--font-colus);
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.2px;
    margin: 16px 0 0 0;
}

.search__row {

}

.catalog__body {
    padding: 48px 0 80px 0;
}

.content__row {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.catalog__filter {
    position: relative;
    padding: 24px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #D8DBDE;
    background: #FFF;
}

.filter__body {
    display: flex;
}

.filter__field {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px; /* 133.333% */
}

.filter__field:nth-child(1){
    margin: 0 32px 0 0;
}

.filter__field:nth-child(3){
    margin: 0 0 0 auto;
}

.filter__name {

}

.filter__icon {
    pointer-events: none;
    margin: 0 0 0 4px;
    transform: rotate(90deg);
}

.product-name {
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    margin: 12px 0 4px 0;
}

.product-price {
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 14px;
    line-height: 20px; /* 142.857% */
}

.catalog__footer {

}

.catalog__footer-count {
    color: #363D47;
    text-align: center;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin: 0 0 12px 0;
}

.catalog__footer-progress {
    margin: 0 0 32px 0;
}

.catalog__footer-btn {
    margin: 0 auto;
    width: 220px;
}
/*=========================/CATALOG====================*/

/*=========CATEGORIES=========*/

.catalog__slider {
    position: relative;
    overflow: hidden;
    margin: 120px 0 0 0;
    height: 282px;
}

.category__slider {
}

.category__slider .swiper-slide {
}

.category__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.category__img {

}

.catogory__name {
    margin: 8px 0 0 0;
    color: #363D47;
    font-feature-settings: 'salt' on;
    /* Paragraph 16 */
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/*========/CATEGORIES=========*/
