@font-face {
    font-family: "CocoGothic-Bold";
    src: local("CocoGothic-Bold"),
    url("../fonts/CocoGothic-Bold.woff2") format("woff2"),
    url("/src/fonts/CocoGothic-Bold.woff") format("woff"),
    url("/src/fonts/CocoGothic-Bold.eot") format("eot"),
    url("/src/fonts/CocoGothic-Bold.eot") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "CocoGothic-Regular";
    src: local("CocoGothic-Regular"),
    url("../fonts/CocoGothic-Regular.woff2") format("woff2"),
    url("../fonts/CocoGothic-Regular.woff") format("woff"),
    url("../fonts/CocoGothic-Regular.eot") format("eot"),
    url("../fonts/CocoGothic-Regular.eot") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Colus-Regular";
    src: local("Colus-Regular"),
    url("../fonts/Colus-Regular.woff2") format("woff2"),
    url("../fonts/Colus-Regular.woff") format("woff"),
    url("../fonts/Colus-Regular.eot") format("eot"),
    url("../fonts/Colus-Regular.eot") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.eot") format("eot"),
    url("../fonts/Roboto-Regular.eot") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: local("RobotoMono-Regular"),
    url("../fonts/RobotoMono-Regular.woff2") format("woff2"),
    url("../fonts/RobotoMono-Regular.woff") format("woff"),
    url("../fonts/RobotoMono-Regular.eot") format("eot"),
    url("../fonts/RobotoMono-Regular.eot") format("ttf");
    font-weight: normal;
}


* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
}

button {
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

legend {
    display: block;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

body {
    position: relative;
    z-index: 3;


}

body.modal-open {
    height: 100vh;
    overflow: hidden;
    /*padding-right: 15px;*/
}


/*========================================================*/

:root {
    --font-coco-gothic-bold: 'CocoGothic-Bold', sans-serif;
    --font-coco-gothic: 'CocoGothic-Regular', sans-serif;
    --font-colus: 'Colus-Regular', sans-serif;
    --font-roboto-mono: 'RobotoMono-Regular', sans-serif;
    --font-roboto: 'Roboto-Regular', sans-serif;
}

.container {
    position: relative;
    max-width: 1470px;
    padding: 0 15px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: flex;
    padding: 14px 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    transition: .3s;
}

.primary-btn {
    background: #1C242E;
    color: #FFF;
}

.primary-btn:hover {
    background: #363D47;
}

.secondary-btn {
    background: #F5F6F6;
    color: #363D47;
}

.secondary-btn:hover {
    background: #ECEDEE;
}

.txt-24 {
}

/*==============================HEADER====================*/
.header {
    max-height: 116px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: transparent;
    transition: .3s;
}

.header--scroll, .header--color {
    background-color: #fff;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.header__left {
    display: flex;
    gap: 33px;
    align-items: center;
}

.header__link {
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header__link:hover {
    color: #292e32;
}

.header__phone {
    width: 146px;
}

.header__logo {
    margin: 0 265px 0 0;
}

.header__right {
}

.header__right-desc {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header__btn {
    width: 220px;
}

.center-logo {
    display: none;
}

.header-burger {
    display: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}


.header-burger span:nth-child(1) {
    top: 6px;
}

.header-burger span:nth-child(2) {
    top: 12px;
}

.header-burger span:nth-child(2) {
    width: calc(100% - 9px);
}

.header-burger span:nth-child(3) {
    top: 18px;
}

.header-burger span {
    width: calc(100% - 6px);
    height: 2px;
    background-color: #212529;
    display: block;
    position: absolute;
    left: calc(50% - 9px);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.header-burger.burger-close span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4.9px);
    -ms-transform: rotate(45deg) translate(4px, 4.9px);
    transform: rotate(45deg) translate(4px, 4.9px);
}

.header-burger.burger-close span:nth-child(2) {
    opacity: 0;
}

.header-burger.burger-close span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(3.7px, -4.3px);
    -ms-transform: rotate(-45deg) translate(3.7px, -4.3px);
    transform: rotate(-45deg) translate(3.7px, -4.3px);
}

.menumobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    display: none;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.menumobile-wrap {
    background-color: #fff;
    height: 100%;
    max-width: 400px;
    padding: 60px 15px 0 15px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.menumobile-main {
    padding: 48px 40px;
}

.menumobile-link {
    display: block;
    font-size: 24px;
    line-height: 134%;
    -webkit-font-feature-settings: "salt" on;
    font-feature-settings: "salt" on;
    color: #4f5761;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

.menumobile-link:not(:last-child) {
    margin: 0 0 32px;
}

.menumobile-wrap.visible {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menumobile.show {
    display: block;
}

.menumobile.visible {
    opacity: 1;
}

.mobile-searchable-answer {
}

.mobile-searchable-answer .row__card {
    flex: 1 1 100%;
}

.mobile-searchable-answer .not__found {
    margin: 0 0 64px 0;
}

.mobile-searchable-answer .not__found-img img {
    max-width: 150px;
    width: 100%;
}

.mobile-searchable-answer .search__row {
    margin: 0 0 32px 0;
}

.menumobile-categories {
}

.menumobile-categories-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mobile-category {
    display: flex;
    align-items: center;
    gap: 12px;
}

.mobile-category__img {
    max-width: 64px;
    width: 100%;
}

.mobile-category__name {
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
}

.menumobile-categories-bottom {
    padding: 24px 0 32px 0;
}

.menumobile-categories-bottom a {
    position: relative;
    display: inline-block;
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    padding: 0 19px 0 0;
}

.menumobile-categories-bottom a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/arrow_right.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.menumobile-bottom {
    padding: 40px 0;
    border-top: 1px solid #d8dbde;
}

.menumobile-bottom_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: var(--font-coco-gothic);
}

.menumobile-bottom_item:nth-child(1),
.menumobile-bottom_item:nth-child(2) {
    width: calc(50% - 16px);
}

.menumobile-bottom_item:not(:last-child) {
    margin: 0 16px 40px 0;
}

.menumobile-bottom_item {
    width: calc(100% - 16px);
}

.menumobile-bottom_title {
    font-size: 16px;
    line-height: 134%;
    margin: 0 0 4px;
    -webkit-font-feature-settings: "salt" on;
    font-feature-settings: "salt" on;
    color: #949ca6;
}

.menumobile-bottom_value {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    -webkit-font-feature-settings: "salt" on;
    font-feature-settings: "salt" on;
    color: #363d47;
}

.menumobile-bottom_head {
    margin: 0 0 32px 0;
}

.menumobile-bottom_head h5 {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.1px;
    margin: 0 0 24px 0;
}


/*=============================/HEADER====================*/

/*SPOILER*/


.search__spoiler {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: transform .25s ease-in-out, opacity .3s;
    background-color: #FFFFFF;
    padding: 0 0 300px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 4;
}

.search__spoiler-field {
    position: relative;
    margin: 160px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid transparent;
}


.show__spoiler {
    top: 0;
    transform: translateY(0);
    opacity: 1;
}

.search__input {
    width: 100%;
    background: #FFF;
    padding: 14px 0;
    border-bottom: 1px solid #D8DBDE;
}

.search__input:focus {
    border-bottom: 1px solid #80828C;
}

.search__input-clean {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    padding: 5px;
}

.btn__clear {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    padding: 5px;
    color: #80828C;
    font-size: 16px;
    line-height: 24px; /* 150% */
}

.search__input::placeholder {
    color: #B5BAC1;
}

/*/SPOILER*/

/*NOT FOUND*/

.not__found {
    display: none;
    margin: 0 auto;
    max-width: 464px;
}

.not__found-img {
    text-align: center;
    pointer-events: none;
}

.not__found-text {
    color: #363D47;
    text-align: center;
    /* Paragraph 18 */
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    margin: 24px 0;
}

.not__found-btn {
    margin: 0 auto;
    max-width: 169px;
}

/*/NOT FOUND*/

/*==============================MAIN====================*/

.section__main {
    margin: -116px 0 0 0;
    position: relative;
}

.section__main::before {
    content: '';
    position: absolute;
    background-image: url("../img/main/monkeys.jpg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main__body {
    padding: 216px 0 1060px;
}

.main__title {
    margin: 0 auto 24px;
    color: #1C242E;
    text-align: center;
    font-family: var(--font-colus);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    max-width: 1074px;
    text-transform: uppercase;
}

.main__text {
    margin: 0 auto 40px;
    text-align: center;
    max-width: 875px;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.main__buttons {
    margin: 0 auto;
    max-width: 462px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main__link:nth-child(1) {
    width: 242px;
}

.main__link:nth-child(2) {
    width: 204px;
}

/*=============================/MAIN====================*/

/*====================PREVIEW-CATALOG====================*/

.preview__catalog {
    padding: 121px 0 180px;
}

.preview__catalog-body {
}

.preview__catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    margin: 0 0 40px 0;
}

.preview__catalog-note {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.16px;
}

.preview__catalog-link {
    display: inline-block;
    position: relative;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    padding: 0 19px 0 0;
}

.preview__catalog-link::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.preview__catalog-link:hover {
    color: #292e32;
}

.preview__catalog-tilings {
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    /*flex: 0 1 50%;*/
    gap: 24px;
    margin: 0 0 80px 0;
}

.preview__card-body {
    position: relative;
    max-width: calc(50% - 12px);
    /*max-height: 710px;*/
}

.preview__card-body:nth-child(3n) {
    max-width: none;
}

.preview__card-body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 300px;
    left: 0;
    bottom: 4px;
    background: linear-gradient(180deg, rgba(28, 36, 46, 0.00) 0%, rgba(28, 36, 46, 0.50) 100%);
}

.preview__card-about {
    position: absolute;
    left: 60px;
    bottom: 40px;
    z-index: 1;
}

.preview__card-category {
    color: #FFF;
    font-family: var(--font-colus);
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.preview__card-count {
    color: #FFF;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.preview__card-count span {
    margin: 0 4px;
}

.preview__card-bg {
    position: relative;
}

.preview__card-bg {
    position: relative;
}

.preview__catalog-btn {
    max-width: 465px;
    margin: 0 auto;
}

/*===================/PREVIEW-CATALOG====================*/

/*=======================STORY-SLIDER====================*/

.section__slider {
    padding: 0 0 180px 0;
}

.story__slider-title {
    max-width: 952px;
    margin: 0 auto 40px;
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.16px;
}

.story__slider-body {
    margin: 0 0 47px 0;
}

.story-slider {
    display: grid;
    margin: 20px auto;
}

.slide-items {
    grid-area: 1/1;
    overflow: hidden;
    position: relative;
}

.slide-items > * {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.slide-items .active {
    opacity: 1;
    pointer-events: initial;
    position: relative;
}

.slide-nav {
    display: grid;
    grid-area: 1/1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    z-index: 1;
}

.slide-thumbs {
    display: flex;
    grid-column: 1 / 3;
    padding: 40px;
}

.slide-thumb-item {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: block;
    flex: 1;
    height: 3px;
    margin: 2px;
    overflow: hidden;
}

.slide-thumb-item.active::after {
    animation: thumb 5s forwards linear;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    content: '';
    display: block;
    height: inherit;
    transform: translateX(-100%);
}

.slide-next,
.slide-prev {
    opacity: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

.story__slider-text {
    max-width: 708px;
    margin: 0 0 0 35%;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.story__slider-text p:not(:last-child) {
    margin: 0 0 32px 0;
}

/*======================/STORY-SLIDER====================*/

/*==========================MAIN-FORM====================*/


/*=========================/MAIN-FORM====================*/


/*==========================CATALOG====================*/

.catalog {
    padding: 32px 0 180px;
}

.catalog__breadcrumbs {
    text-align: center;
}

.breadcrumbs {
    margin: 150px 0 0 0 !important;
}


.breadcrumbs,
.breadcrumbs a {
    color: #949CA6;
    font-feature-settings: 'salt' on;
    font-family: var(--font-coco-gothic);
    font-size: 14px;
    line-height: 20px;
    /* 142.857% */
}

.breadcrumbs__separator {
    padding: 0 5px;
}

.catalog__title {
    color: #1C242E;
    text-align: center;
    font-family: var(--font-colus);
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.2px;
    margin: 16px 0 0 0;
}

.search__row {
}

.search__row .row__card {
    flex: 0 1 33.333%;
}

.catalog__body {
    padding: 48px 0 0 0;
}

.content__row {
    display: flex;
    /*gap: 24px;*/
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.row__card {
    position: relative;
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
}

.row__card-inner {
    background-color: #ffffff;
    border: 1px solid transparent;
    padding: 12px;
}

.product-images-mobile-slider {
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.product-images-mobile-slider .swiper-slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product-images-mobile-slider .swiper-pagination {
    position: relative;
}

.product-sizes {
    background-color: #ffffff;
    width: 100%;
    height: 0;
}

.product-sizes__inner {

}

.product-sizes__header {
    display: flex;
    justify-content: space-between;
}

.product-sizes__header .size__switch-btn {
    padding: 0 0 5px 0;
}

.product-sizes__header-title {
    color: #949CA6;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px; /* 150% */
}

.product-imgs {
}

.product-img {
}

.row__card:hover .row__card-inner {
    border: 1px solid #1C242E;
}

.catalog__filter {
    position: relative;
    margin: 24px 0 40px 0;
    background: #FFF;
}

.filter__body {
    display: flex;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #D8DBDE;
    height: 49px;
}

.filter__params {
}

[data-filter="size"],
[data-filter="category"] {
    position: absolute;
    top: 50px;
    left: 0;
    visibility: hidden;
    z-index: 5;
    background-color: #ffffff;
    width: 100%;
}

[data-filter="sort"] {
    position: absolute;
    top: 50px;
    right: 0;
    visibility: hidden;
    z-index: 5;
    background-color: #ffffff;
    max-width: 200px;
    max-height: none !important;
    width: 100%;
}

.filter__data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    border-right: 1px solid #D8DBDE;
    border-bottom: 1px solid #D8DBDE;
    border-left: 1px solid #D8DBDE;
    max-height: 250px;
}

.filer__data-show {
    visibility: visible;
}

.filter__data-param {
    display: flex;
    gap: 8px;
    padding: 13px 12px;
}

.filter__data-param input {
    opacity: 0;
    line-height: 0;
    font-size: 0;
    height: 0;
    width: 0;
    position: absolute;
}

.filter__data-param:hover {
    background: #F5F6F6;
}

.param__checkbox {
    display: block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #949CA6;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input:checked + .param__checkbox {
    border: 1px solid #1C242E;
    background-image: url("../img/icons/checkbox.svg");
    background-size: 18px 18px;
}

.param__checkbox:hover {
    border: 1px solid #4F5761;
}

.param__checkbox + .param__name {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.param__checkbox-sort {
    display: block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    border-radius: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    /*background-image: url("../img/icons/tick.svg");*/
    background-image: none;
}

input:checked + .param__checkbox-sort {
    border: none;
    background-image: url("../img/icons/tick.svg");
    background-size: 18px 18px;
}

input:checked + .param__checkbox-sort:hover {
    border: none;
}

.param__name {
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
}

.filter__selected_params {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    padding: 24px 0 0 0;
}

.selected_param {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px 14px;
    border-radius: 20px;
    background: #F5F6F6;
    transition: .3s;
}

.selected_param:hover {
    background: #ECEDEE;
}

.reset-param {
    cursor: pointer;
    padding: 6px 14px;
}

.reset-param .selected_param-name {
    margin: 0;
}

.selected_param-name {
    margin: 0 4px 0 0;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.selected_param-delete {
    position: relative;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #B5BAC1;
}

.filter__field {
    position: relative;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.filter__field:nth-child(1) {
    margin: 0 32px 0 0;
}

.filter__field:nth-child(3) {
    margin: 0 0 0 auto;
}

.filter__name {
    cursor: pointer;
    padding: 0 20px 0 0;
}


.filter__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    content: '';
}

.filter__checkbox + label::before {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url("../img/icons/arrow_down.svg") center right no-repeat;
}

.filter__checkbox:checked + label::before {
    transform: rotate(180deg);
}

.filter__checkbox + .filter__name {
    /*color: #4F5761;*/
}

.filter__checkbox:checked + .filter__name {
    /*opacity: 1;*/
    /*color: #4F5761;*/
    color: #000000;
}

.product-name {
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    margin: 12px 0 4px 0;
}

.product-price {
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 12px 0;
    /* 142.857% */
}

.product-sizes {
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}

.row__card:hover .product-sizes {
    margin: 0;
    overflow: visible;
    opacity: 1;
}

.size__switches {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #80828C;
    font-feature-settings: 'salt' on;
    font-family: var(--font-coco-gothic);
    font-size: 14px;
    line-height: 20px;
    /* 142.857% */
}

.size__switch {
}

.inches {
}

.metres {
}

.sizes__table {
    margin: 8px 0 0 0;
}

.sizes {
    display: none;
}

.sizes.sizes_show {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.size__row {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    color: #4F5761;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
}

.size__row-name {
}

.size__row-separator {
    position: relative;
    width: 100%;
}

.size__row-separator::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed #D8DBDE;

}

.size__row-size {
}

.catalog__footer {
    margin: 80px 0 0 0;
}

.catalog__footer-count {
    color: #363D47;
    text-align: center;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
    margin: 0 0 12px 0;
}

.catalog__footer-progress {
    max-width: 952px;
    width: 100%;
    height: 2px;
    margin: 0 auto 32px;
    background: #ECEDEE;
}

.catalog__footer-btn {
    margin: 0 auto;
    width: 220px;
}

/*=========================/CATALOG====================*/

.slider__wrapper {
    position: relative;
    overflow: hidden;
}

/*=========CATEGORIES=========*/

.catalog__slider {
    margin: 120px 0 0 0;
    height: 282px;
}

.category__slider {
}

.category__slider .swiper-slide {
}

.category__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.category__img {
}

.catogory__name {
    margin: 8px 0 0 0;
    color: #363D47;
    font-feature-settings: 'salt' on;
    /* Paragraph 16 */
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

/*========/CATEGORIES=========*/
.other__shape {
    margin: 0 0 70px 0;
}

.other__shape_slider {
}

.other__shape-title {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.16px;
    margin: 0 0 32px 0;
}

/*===============PRODUCT-CARD===============*/

.card__breadcrumbs {
    margin: 32px 0 0 0;
}

.product__wrapper {
    padding: 0 0 120px 0;
}

.product {
    padding: 16px 0 180px 0;
}

.product__name {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 40px;
    font-style: normal;
    letter-spacing: 0.2px;
    margin: 0 0 40px 0;
}

.mobile-card-name {
    display: none;
}

.product__body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fancybox__footer {
}

.f-thumbs__track {
    /*flex-direction: column !important;*/
}


.product__photos {
    position: relative;
}

.simple__photos {
    margin: 12px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product__slider-body {
    position: relative;
}

[data-fancybox="product_images"] {
    display: block;
}

.product__slider {
    max-width: 800px;
    width: 100%;
    overflow: hidden;
}

.product__slider img {
    cursor: pointer;
}

.product__slider .swiper-scrollbar {
    display: none;
}

.product__slider .swiper-pagination-bullet {
    width: 53px;
    height: 3px;
    border-radius: 4px;
    opacity: 0.5;
    background: #FFF;
    transition: 0.3s;
}

.product__slider .swiper-pagination-bullet-active {
    opacity: 1;
}

.product__slider .custom-arrow,
.product__slider .custom-arrow {
    width: 32px !important;
    height: 32px !important;
}

.mobile-live-photos__title {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.1px;
    margin: 0 0 32px 0;
}

.mobile-live-photos {
    display: none;
}


.product__info {
    max-width: 464px;
    width: 100%;
}

.product__price {
    color: #1C242E;
    font-family: var(--font-coco-gothic);
    font-size: 24px;
    line-height: 32px;
    /* 133.333% */
    margin: 0 0 20px 0;
}

.product__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 52px 0;
}

.product__materials {
    margin: 0 0 40px 0;
}

.product__info-title {
    color: #949CA6;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
    margin: 0 0 4px 0;
}

.product__mats {
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.product__sizes-head {
    display: flex;
    justify-content: space-between;
}

.product__sizes-swicth {
    display: flex;
    gap: 8px;
}

.size__switch-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.size__switch-btn input {
    opacity: 0;
    line-height: 0;
    font-size: 0;
    height: 0;
    width: 0;
    position: absolute;
}

.size__switch-btn-name {
    color: #80828C;
    font-family: var(--font-coco-gothic);
    font-size: 14px;
    line-height: 20px;
    border-bottom: 2px solid transparent;
}

.size__switch-btn-border {
    border-bottom: 2px solid transparent;
}

.size__switch-btn:hover .size__switch-btn-name {
    color: #383838;
}

.size__switch-btn_active, .size__switch-btn-name:hover {
    border-color: #000;
}

/* input:checked + .size__switch-btn-border {
  
} */

[data-size="inches"] {
    display: block;
}

[data-size="metres"] {
    display: none;
}

.product__sizes-bottom {
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
}

.product__about {
    margin: 30px 0 0 0;
    color: #363D47;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.product__about p:not(:last-child) {
    margin: 0 0 30px 0;
}

.product__footer {
    position: relative;
}

.product__footer-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 0 0;
}

.product__footer-filter-switch-buttons {
    display: flex;
    gap: 32px;
}

.product__footer-filter-slider-arrows {
    position: relative;
}

.product__footer-filter-slider-arrows .custom-slider-navigation {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
    align-items: center;
}

.product__footer-filter-slider-arrows .custom-arrow {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.product__footer-filter_btn {
    cursor: pointer;
    position: relative;
    padding: 0 0 24px 0;
    color: #80828C;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.filter-btn__active {
    position: relative;
    color: #363D47;
}

.filter-btn__active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #363D47;
}

.product__footer-title {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 32px;
    letter-spacing: 0.16px;
    margin: 0 0 32px 0;
}

.product__footer-filter {
    border-bottom: 1px solid #D8DBDE;
    background: #FFF;
    margin: 0 0 40px 0;
}

.product__footer-slider {
    /*position: relative;*/
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 0 150px 0;
    display: none;
}

.product__footer-slider_active {
    display: block
}

.product__footer-slide {
    display: block;
}

.product__footer-slider-nav {
    position: absolute;
    top: 90px;
    right: 15px;
}

.product__footer-slider-nav .custom-arrow {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.product__footer-slider .custom-slider-navigation{
    position: relative;
    display: flex;
    gap: 8px;
}

.fancybox-thumbs {
    width: 120px; /* Ширина контейнера миниатюр */
}

.fancybox-thumbs .fancybox-thumbs__list {
    display: flex;
    flex-direction: column; /* Вертикальное расположение миниатюр */
    align-items: flex-start; /* Выравнивание слева */
}

.fancybox-thumbs .fancybox-thumbs__list .fancybox-thumbs__item {
    margin: 10px 0; /* Отступ между миниатюрами */
}

.fancybox-thumbs .fancybox-thumbs__list .fancybox-thumbs__item img {
    width: 100%; /* Ширина миниатюры */
    height: auto;
}

/*===============/PRODUCT-CARD===============*/

/*===============MOB-FILTERS=================*/
.mobile__filter-btn {
    display: none;
    z-index: 3;
    position: fixed;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 52px;
    background: #1C242E;
    width: 120px;
    padding: 12px 24px;
    color: #FFF;
    text-align: center;
    font-family: var(--font-coco-gothic);
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
}

.mobile__filters {
    display: none;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile__filters-show {
    display: block;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color 1.3s ease-in-out;
}

.mobile__filters-body {
    position: absolute;
    bottom: 0;
    padding: 70px 16px 120px;
    background-color: #ffffff;

    /*height: 80%;*/
    height: 680px;
    width: 100%;
    /*overflow: auto;*/
    transform: translateY(-150%);
    animation: ani 0.4s forwards;
}

.mobile__filters-head {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 16px 24px;
    z-index: 8;
    background-color: #fff;
}

.mobile__filters-title {
    color: #1C242E;
    font-family: var(--font-colus);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.1px;
}

.mobile__filters-close-btn {
    padding: 10px;
}

.mobile__filters-close-btn img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #B5BAC1;
    background-position: center;
    border-radius: 50%;
}

.mobile__filters-groups {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    overflow-y: scroll;
    max-height: 540px;
}

.mobile__filters-groups::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mobile__filters-group {
    padding: 0 0 24px 0;
    border-bottom: 1px solid #ECEDEE;
}

.mobile__filters-group:last-child {
    margin: 0 0 40px 0;
}

.mobile__filters-group-name {
    color: #949CA6;
    font-family: var(--font-coco-gothic);
    font-size: 16px;
    line-height: 24px;
    /* 150% */
}

.mobile__filters-selected {
    padding: 12px 0 0 0;
}

.mobile-filter-param {
    padding: 13px 0;
}

.mobile__filters-value {
}

.mobile__filters-apply-btn {
    position: fixed;
    bottom: 32px;
    left: 0;
    right: 0;
    /* Добавьте это свойство для выравнивания по горизонтали */
    height: 52px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    font-family: var(--font-coco-gothic);
}


.apply-btn-name {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    /* 150% */
}

.apply-btn-count {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    line-height: 1;
    /* 123.077% */
}

@keyframes ani {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateX(0);
    }
}

/*==============/MOB-FILTERS=================*/

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.custom-arrow.swiper-button-prev, .custom-arrow.swiper-button-next {
    width: 48px;
    height: 48px;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s;
    border-radius: 48px;
    border: 1px solid #ECEDEE;
    background-color: #FFF;
    background-image: url("../img/icons/arrow_slider.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.custom-arrow:hover {
    background-color: #e1e1e1;
}

.custom-arrow.swiper-button-prev {
    transform: scale(-1, 1);
}

.custom-arrow.swiper-button-disabled {
    opacity: 1;
    background-color: #ECEDEE;
    background-image: url("../img/icons/arrow_slider_disabled.svg");
}

.other__shape_slider .custom-arrow.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.category__slider .custom-arrow.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

